<ion-view title="{{pflanze.NameDeutsch}} / {{pflanze.NameLatein}}">
    <ion-content>
    <div class="row responsive-sm">
        <div class="col">
            <div class="card">
              <div class="item item-divider" >
                      Familie
               </div>
              <div class="item item-text-wrap" >
{{pflanze.FamilieDeutsch}} - {{pflanze.FamilieLatein}}
            </div> 

    
               <div  ng-if="pflanze.Synonym">
                  <div class="item item-divider" >
                      Synonyme
                   </div>
                  <div class="item item-text-wrap" >
                         <div ng-if="pflanze.Synonym">{{pflanze.Synonym}}</div>
                         <div ng-if="pflanze.Namen.length > 1"> <a ng-repeat="name in pflanze.Namen">{{name.Name}}, </a>
                   </div>
               </div>
                   </div>
      </div>
        </div>
            <div class="col">
               <div class="card">
                  <div class="item item-divider" >
                      Informationen
                   </div>
                  <div class="item item-text-wrap" >
                      <dummy ng-switch on ="pflanze.Entwicklung">
                      <img ng-switch-when="1" ng-click="openPopover($event, 'einj&auml;hrig')" src="img/einjaehrig.png"/>
                      <img ng-switch-when="2" ng-click="openPopover($event, 'zweij  &auml;hrig')" src="img/zweijaehrig.png"/>
                      <img ng-switch-when="m" ng-click="openPopover($event, 'mehrj&auml;hrig')" src="img/mehrjaehrig.png"/>
                        <dummy ng-switch-when="1-m"  ng-click="openPopover($event, 'ein- bis mehrj&auml;hrig')">
                      <img src="img/einjaehrig.png"/>-<img src="img/mehrjaehrig.png"/>
                        </dummy>  
                        <dummy ng-switch-when="2-m" ng-click="openPopover($event, 'zwei- bis mehrj&auml;hrig')" >
                      <img src="img/zweijaehrig.png"/>-<img src="img/mehrjaehrig.png"/>
                        </dummy>  
                      </dummy>                  
                      <dummy ng-switch on="pflanze.GiftNummer">
                        <img ng-switch-when="0" ng-click="openPopover($event, 'leicht giftig und/oder 
                                                           hautreizend, fototoxisch, brecherregend, mutagen, stark allergen')" style="top:3px"  src="img/gift_{{pflanze.GiftNummer}}.png"/>
                        <img ng-switch-when="1" ng-click="openPopover($event, 'giftig')" style="top:3px"  src="img/gift_{{pflanze.GiftNummer}}.png"/>
                        <img ng-switch-when="2" ng-click="openPopover($event, 'stark giftig')" style="top:3px"  src="img/gift_{{pflanze.GiftNummer}}.png"/>
                        <img ng-switch-when="3" ng-click="openPopover($event, 'sehr stark giftig')" style="top:3px"  src="img/gift_{{pflanze.GiftNummer}}.png"/>
                                  
                      </dummy>
                      {{pflanze.GiftText}}
                   </div>
               </div>
            </div>
    </div>

          
            <ion-scroll zooming="true" min-zoom="1" direction="x"><div style="   white-space: nowrap;">
                      <img ng-repeat="bild in pflanze.Bilder" src="img/{{bild.Datei}}" style="height: 300px;"/>
                      </div>
            </ion-scroll>
         <div class="card" ng-if="pflanze.Fundorte.length >=1">
                <div class="item item-divider" >
                      Fundort
                   </div>
             <div ng-repeat="Fundort in pflanze.Fundorte">
                <div class="item item-text-wrap" >
                    <div >{{Fundort.Ort}} bei {{Fundort.Stadt}} in {{Fundort.Bundesland}}, {{Fundort.Land}}</div>
                   <div>{{Fundort.Seehoehe}} Meter &uuml;NN.</div>
                </div>

                <div class="item item-text-wrap" style="padding: 0px;" >
                    <img src="img/{{Fundort.Datei}}" style="width: 100%;"></image>
                </div>
             </div>
             </div>
          </ion-content>
    </ion-view>

<script id="my-popover.html" type="text/ng-template">
  <ion-popover-view style="width:auto;height:auto;">
<!--    <ion-header-bar>
      <h1 class="title">My Popover Title{{info}}</h1>
    </ion-header-bar>-->
      <div style="text-align:center; padding: 15px 15px 15px 15px">{{text}}</div>
  </ion-popover-view>
</script>
        <!--      <ion-slide-box>
                      <ion-slide><img src="img/IMG_1073.JPG" style="height: 300px;"/></ion-slide>
                      <ion-slide><img src="img/IMG_1074.JPG" style="height: 300px;"/></ion-slide>
                      <ion-slide><img src="img/IMG_1073.JPG" style="height: 300px;"/></ion-slide>
              </ion-slide-box>-->