<ion-view title="{{pflanze.NameDeutsch}} / {{pflanze.NameLatein}}">
      <ion-content><button class="button button-block button-positiv">
{{pflanze.FamilieDeutsch}} - {{pflanze.FamilieLatein}}
          </button>

    
               <div class="card" ng-if="pflanze.Synonym">
                  <div class="item item-divider" >
                      Synonyme
                   </div>
                  <div class="item item-text-wrap" >
                         <p ng-if="pflanze.Synonym">{{pflanze.Synonym}}</p>
                         <p ng-if="pflanze.Namen.length > 1"> <a ng-repeat="name in pflanze.Namen">{{name.Name}}, </a>
                   </div>
               </div>
          <div class="row" style="padding:0">
            <div class="col" style="padding:0">
               <div class="card">
                  <div class="item item-divider" >
                      Informationen
                   </div>
                  <div class="item item-text-wrap" >
                      <img src="img/gift_0.png"/>
                      <img src="img/gift_1.png"/>
                      <img src="img/gift_2.png"/>
                      <img src="img/gift_3.png"/>
                      <img src="img/geschuetzt.png"/>
                      <img src="img/einjaehrig.png"/>
                      <img src="img/zweijaehrig.png"/>
                      <img src="img/mehrjaehrig.png"/>
                   </div>
               </div>
            </div>
            <div class="col" style="padding:0">
               <div class="card">
                  <div class="item item-divider" >
                      Entwicklunge
                   </div>
                  <div class="item item-text-wrap" >
                      mehrjährig
                   </div>
               </div>
            </div>
              
            <div class="col" style="padding:0">
               <div class="card">
                  <div class="item item-divider" >
                      Giftigkeit
                   </div>
                  <div class="item item-text-wrap" >
                      !!
                   </div>
               </div>
            </div>
          </div>

          
            <ion-scroll zooming="true" min-zoom="1" direction="x"><div style="   white-space: nowrap;">
                      <img ng-repeat="bild in pflanze.Bilder" src="img/{{bild.Datei}}" style="height: 300px;"/>
                      </div>
            </ion-scroll>
         <div class="card" ng-if="pflanze.Fundorte.length >=1">
                <div class="item item-divider" >
                      Fundort
                   </div>
             <div ng-repeat="Fundort in pflanze.Fundorte">
                <div class="item item-text-wrap" >
                    <div >{{Fundort.Ort}} bei {{Fundort.Stadt}} in {{Fundort.Bundesland}}, {{Fundort.Land}}</div>
                   <div>{{Fundort.Seehoehe}} Meter &uuml;NN.</div>
                </div>

                <div class="item item-text-wrap" style="padding: 0px;" >
                    <img src="img/{{Fundort.Datei}}" style="width: 100%;"></image>
                </div>
             </div>
             </div>
          </ion-content>
    </ion-view>


        <!--      <ion-slide-box>
                      <ion-slide><img src="img/IMG_1073.JPG" style="height: 300px;"/></ion-slide>
                      <ion-slide><img src="img/IMG_1074.JPG" style="height: 300px;"/></ion-slide>
                      <ion-slide><img src="img/IMG_1073.JPG" style="height: 300px;"/></ion-slide>
              </ion-slide-box>-->